/*Common elements*/
body {
    font-size: 67.5%;
    font-family: 'Times New Roman', Times, serif;
    background: #fafcfc url(assets/groupWork.jpg) no-repeat center fixed;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1 {
    color: #130c01;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}
h2 {
    color: #130c01;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: rgb(14, 1, 1);
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;
}
a:hover {
    color: white;
}
#resume a:hover{
    color: rgb(2, 12, 2);
}
/*Header*/
/*Nav Bars*/
.navWrap {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    letter-spacing: 0.04em;
    padding: 0.5em;
    text-align: center;
    background-color: #282a2c;
    border-radius: 3px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.6;
}
.navlink {
    color: rgb(8, 69, 238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navWrap ul{
}
.navWrap li{
    display: inline-block;
    padding-right: 100px;
}
#resume{
    float: left;
}
.intro h1{
    font-family: Times, serif;
    font-size: 65px;
    margin-left: 250px;
    margin-top: 140px;
    text-shadow: 2px 2px silver;
}
#photoKeen{
    border: 3px solid rgb(10, 0, 0);
    border-radius: 40%;
    width: 250px;
    margin-left: 800px;
    margin-top: -50px;
    height: 50%;
}
.text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-left: 255px;
    text-shadow: 2px 1px black;
    font-size: 20px;
    font-weight: bold;
    color: white;
    animation: typewriter;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}
.text::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}
@keyframes typewriter {
    0%, 100% {
      width: 0;
    }
    20%, 80% {
      width: 38em;
    }
  }
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
.aboutAustin{
    margin-top: 400px;
}
#about{
    margin-left: 27%;
    font-size: 65px;
    text-shadow: 2px 2px grey;
    padding-top: 60px;
}
/*ABOUT*/
#description {
    align-content: center;
    width: 850px;
    position: relative;
    display: block;
    background-color: #fff;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-right: #B0C4DE solid 5px;
    border-left: #B0C4DE solid 5px;
    margin-top: 20px;
    margin-left: 230px;
    font-size: 12px;
   }
   #description h1{
       font-size: 30px;
       font-weight: bold;
   }
   
   .contact{
       margin-top: 600px;
   }
   #contact{
    margin-left: 40%;
    margin-bottom: 60px;
    font-size: 65px;
    text-shadow: 2px 2px grey;
    padding-top: 60px;
   }

   input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea {
      display: block;
      margin-bottom: 15px;
      width: 90%;
  }
  
  input[type=submit] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #c75151;
  }
  
  form {
      width: 50%;
    border-radius: 5px;
    background-color: #B0C4DE;
    padding: 20px;
    margin-bottom: 180px;
    margin-left: 100px;
  }
   input[type=submit]{
       margin-top: 3px;
       background-color: grey;
   }
   .social{
       display: block;
       margin-left: 870px;
       width: 400px;
       height: 200px;
       margin-top: -400px;

   }
   .social a{
       padding: 30px;
   }
   footer {
    background-color: #B0C4DE;
    height: 25px;
    font-size: 1.2em;
    color: rgb(19, 2, 2);
    text-align: center;
    padding: 1.5em 2.0em;
    margin-top: 165px;
    
}
footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.5em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: rgb(2, 2, 17);
    text-decoration: none;
}
footer a:hover {
    color: rgb(23, 56, 241);
    text-decoration: underline;
}