body {
    font-size: 67.5%;
    font-family: 'Times New Roman', Times, serif;
    background: #fafcfc url(assets/compPic.webp) no-repeat center fixed;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
/*Navbar*/
.fixed-top {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    letter-spacing: 0.04em;
    background-color: #282a2c;
    border-radius: 3px;
    padding-top: 0.5em;
    z-index: 1;
    opacity: 0.6;
    margin-bottom: 100px;
}
#photo {
    border-radius: 5px;
}
#photo:hover {
    margin-top: 20px;
    transform: scale(2.5);
    transition: transform .3s;
}
/*Intro*/
.headWrap {
    font-family: Times, serif;
    font-size: 85px !important;
    text-shadow: 2px 2px silver;
    margin-bottom: 500px;
    margin-top: 200px;
}
.text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    text-shadow: 2px .5px silver;
    font-weight: bold;
    color: black;
    animation: typewriter;
    animation-duration: 25s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}
.text::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}
@keyframes typewriter {
    0%, 100% {
    width: 0;
    }
    20%, 80% {
    width: 22em;
    }
  }
  @keyframes caret {
    0%, 100% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
  }
  /*Experiences*/
  .exp {
    width: 100%;
    height: 400px;
    padding-top: 18px;
    padding-bottom: 10px;
    background-color: silver;
    opacity: 0.6;
    margin: auto;
    color: white;
}
.inner {
    background-color: black;
    opacity: 0.9;
    margin: auto;
    height: 98%;
    width: 89%;
    padding-top: 50px;
}
#myCarousel{
    padding-top: 150px;
}
/*Skills*/
.skillsWrap{
    margin: auto;
    margin-top: 300px;
    /*background: white;*/
  }
  #skills {
      padding-top: 120px;
  }
  .head{
      font-size: 60px;
      text-shadow: 2px .5px silver;
  }
  .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 70px;
    box-sizing: border-box;
    display: inline-block;
}
.box .imgBox{
    position: relative;
    box-shadow: 1px 1px 1px 1px rgb(61, 60, 60);
}
.box .imgBox img{
    max-width: 100%;
    transition: transform 2s;

}
.box:hover .imgBox img{
    transform: scale(1.2);
}
.box .details
{
    position: absolute;
    top: 5px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.box:hover .details
{
    transform: scaleY(1)
}

.box .details .content
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.box .details .content h1
{
    margin: 0;
    padding: 0;
    color: #fff;
}
.skillsList li {
    font-size: 20px;
}
/*About*/
#about {
    padding-top: 50px;
}
.aboutWrap{
    margin-top: 400px;
    font-family: Times, serif;
    text-shadow: 2px 2px silver;
}
.about{
    font-size: 70px;
    text-shadow: 2px 2px grey;
}
/*ABOUT*/
#description {
    margin-left: 35px;
    background-color: #fff;
    padding: 1.7em 0.5em 2.0em 1.7em;
    border-right: #B0C4DE solid 5px;
    border-left: #B0C4DE solid 5px;
    font-size: 18px;
   }
   #description h1{
       font-size: 30px;
       font-weight: bold;
   }
   /*Contact*/
   .contact{
    margin-top: 600px;
}
#contact{
 font-size: 95px;
 margin-left: 35px;
 text-shadow: 2px 2px grey;
 padding-top: 60px;
 display: block;
}
label {
    color: white;
    font-size: 18px;
}
input[type=text] {
 width: 90%;
 padding: 12px 20px;
 margin: 8px 0;
 display: block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}
input[type=email] {
 width: 90%;
 padding: 12px 20px;
 margin: 8px 0;
 display: block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}
textarea {
   display: block;
   margin-bottom: 15px;
   width: 90%;
}

input[type=submit] {
 width: 90%;
 font-size: 16px;
 background-color: rgb(29, 89, 158);
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

input[type=submit]:hover {
 background-color: #c75151;
}

form {
   width: 650px;
 border-radius: 5px;
 background-color: rgb(31, 30, 30);
 opacity: 0.9;
 padding-left: 40px;
 padding-bottom: 20px;
 margin-bottom: 180px;
 margin-left: 100px;
}
input[type=submit]{
    margin-top: 3px;
    background-color: rgb(201, 199, 199);
}
.social{
    margin-top: 105px;
}
.social a{
    padding: 30px;
}
footer {
 background-color: black;
 opacity: 0.6;
 height: 25px;
 font-size: 1.2em;
 color: rgb(8,69,238);
 text-align: center;
 padding: 1.5em 2.0em;
 margin-top: 165px;
 
}
footer ul#menuFooter {
 display: inline-block;
 list-style: none;
 margin: 0 0 0 0.6em;
 padding: 0;
}
footer ul li {
 display: inline-block;
 padding: 0 0.5em 0 0;
 margin: 0;
 color: rgb(8, 69, 238);
}
footer ul li::before {
 content: "| ";
 padding-right: 0.7em;
}
footer a, footer a:visited {
 color: rgb(8, 69, 238);
 text-decoration: none;
}
footer a:hover {
 color: rgb(247, 247, 247);
 text-decoration: underline;
}